<div id='container'>
  <h2>{{name}}の情報変更</h2>
  <div class='box'>
    <p>メールアドレス</p>
    <div>
      <input type="text" [(ngModel)]="email" placeholder="メールアドレス">
    </div>
  </div>

  <div class='box'>
    <p>パスワード</p>
    <div>
      <input type="password" [(ngModel)]="password" placeholder="パスワード">
    </div>
  </div>

  <p id='error' *ngIf='Error'>{{Error}}</p>
  <div id="buttoncmp">
    <input type="button" value="完了" (click)="Change_User()" >
    <input type="button" value="閉じる" (click)="ModalClose()" >
  </div>
</div>
