.inline {
  margin-top: 2vh;
  display: flex;
	flex-direction: row;
}

.title {
  margin-top: 5px;
  margin-left: 5px;
  font-size: 200%;
}

.inline input {
  left: 30%;
  width: 60%;
  font-size: 20px;
}
.inline h2 {
  margin-left: 2%;
  width: 28%;
}

#Buttonlist{
  width: 30%;
  margin: 4vh auto 4vh;
}

#Buttonlist input{
  font-size: 100%;
  margin-right: 4vh;
  cursor: pointer;
  background-color: #EEE;
  border-style: none;
  border: solid;
  border-width: 1px;
  border-radius: 10px;
  padding: 0 20px 0 20px;
}

#Buttonlist input:hover{
  background-color: #FFF;
}
