header{
  overflow: hidden;
  background-color:#00E676;
  margin: -100px 0 0 -100px;
  padding: 110px 150px 10px 110px;
  box-shadow: 0px 5px 5px #c0c0c0;
  height: 20%;
  width: 100%;
  text-align: center;
}
header img{
  width: 10vw;
}

#container {
  border: none;
  max-width: 60vw;
  max-height:55vh;
  margin: 15vh auto;
  background-color: #FFFFFF;
  border-radius: 10px;
}

#container:hover {
  box-shadow:1px 2px 5px 5px  #dbdbdb;
}

h1{
  padding-left: 3vh;
  padding-top:  3vh;
}
ul {
  font-size: 2vw;
  margin-left:2vw;
}
li:nth-child(1) {
  font-size: 1.5vw !important;
  color: rgba(200,200,200,1);
}
li:nth-child(2){
  font-weight: bold;
}

.form {
  width:50%;
  font-size: 1.5vw;
  padding: 10px 10px 10px 10px;
  box-shadow: none;
  margin-left: 2vw;
  border: none;
  border-bottom: 1px solid #d3d3d3;
}

#buttoncmp{
  margin-top: 2vh;
  display: grid;
  grid-gap:10px;
  grid-template-columns: 5fr 5fr;
  width: 20%;
  margin-left: auto;
  margin-right: 12vw;
}
#buttoncmp input{
  background-color: rgba(0, 0, 0, 0);
  color: #28AF78;
  font-size: 1.5vw;
  padding: 5px 20px 5px 20px;
  cursor: pointer;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(0, 0, 0,0);
}
#buttoncmp input:hover{
  color: #00d36f;
  background-color: aliceblue;
}

#error{
  color: red;
  width: 100%;
  text-align: center;
}
