<div id='userlist'>
  <h1>社員名簿</h1>
  <div id="emplist">
    <table>
	     <thead>
			  <tr>
				  <th>氏名</th>
		      <th>心拍数</th>
			    <th>ストレス</th>
          <th>勤務時間</th>
        </tr>
	    </thead>

	     <tbody>
        <tr *ngFor="let Emp of VisibleList" >
          <td>{{Emp.Name}}</td>
          <td>{{Emp.Stress}}</td>
          <td *ngIf='Emp.Authority == false'>有</td>
          <td *ngIf='Emp.Authority == true'>無</td>
          <td>{{Emp.Time}}</td>
        </tr>
	    </tbody>

    </table>
  </div>
</div>
