#container {
  font-size: 1.5vw;
}

.box{
  margin: 20px 0 0 10px;
  display: grid;
  width: 90%;
  grid-gap:30px;
  grid-template-columns: 3fr 3fr 4fr;
  grid-template-rows: 10fr;
}

.box p{
  margin: 0 0 0 0;
}

.name{
  width: 30%;
}

.box input {
  font-size: 1vw;
  padding: 10px 0 10px 0;
}

#button_cmp{
  margin: 20px auto;
  max-width: 30%;
}

#button_cmp input{
  font-size: 2vw;
  padding: 5px 5px 5px 5px;
  width: 30%;
}
