#triggar{
  width: 2vw;
  font-size: 2vw;
  position: absolute;
  top:0.5vh;
  left: 95vw;
  margin-left: auto;
  cursor: pointer;
}
#menu {
  position: absolute;
  margin: 0 0 0 0;
  z-index: 110;
  right: -340px; /* メニューのwidth + padding */
  width: 8vw; /* メニューのwidth */
  transition: left .5s, right .5s; /* アニメーション */
  border: 3px solid #ccc;
}
#menu li{
  font-size: 1vw;
  margin-top: 1vh;
  cursor: pointer;
  list-style: none;

}
#menu li:hover{
  color: #888;
}

#flag{
  display: none;
}

#flag:checked + #menu{
  right:1vw;
}
#flag:checked ~ #container{
  width: 85vw;
}

#container {
  position: absolute;
  top:8vh;
  height: 90vh;
  width: 98vw;
  display: grid;
  grid-gap:30px;
  grid-template-columns: 1.5fr 8.5fr ;
  grid-template-rows: 10fr;
  transition: width .5s; /* アニメーション */
}

#left{
  padding: 10px;
  margin: 3px;
  border: 2px solid #888;
  height: 70vh;
}
#left li{
  margin-top: 20px;
  font-size: 1.2vw;
  color: #555;
  list-style: none;
  cursor: pointer;
}

#left li:hover{
  color: #999;
}
