/*header{
  overflow: hidden;
  background-color: #888;
  margin: -100px 0 0 -100px;
  padding: 110px 150px 10px 110px;
}*/
* {
    margin: 0;
    padding: 0;
    border: 0;
    /*font-family: sans-serif;*/
  }

header {
  width: 100vw;
  height: 50px;
  position: fixed;
  background-color: #888;
  box-shadow: 0 3px 2px rgba(0,0,0,.3);
}

header > span {
  width: 50px;
  text-align: center;
  display: inline-block;
  cursor: pointer;
}
#logo , #user , #hamburger , #name {
  position: fixed;
  top: 16px;
}
#logo {
  left: 10px;
}
#user {
  right: 60px;
}
#hamburger {
  right: 10px;
}
.fa-big {
  font-size: 150%;
}
#name {
  width: 200px;
  right: 120px;
  text-align: right;
}
header > span:hover {
  color: #DC143C;
}

header > h1 {
position: fixed;
width: calc(100% - 370px);
top: 8px;
left: 70px;
font-size: 24px;
letter-spacing: 2px;
}

header > div > span {
font-size: 16px;
}
header > div > span::after {
  content: " さん";
}

@keyframes setsugetsuka {from{transform:rotate(0deg) scale(1.5)}to{transform:rotate(360deg) scale(1.5)}}
#logo:hover{animation: setsugetsuka .2s linear infinite;}
