<header>
  <img src='assets/images/gestion-logo.png' />
</header>

<div id='container'>
  <h1>グループの作成</h1>

  <form #f="ngForm" action="Change_Page()">
    <input name="name"[(ngModel)]="GroupName" class='form'  placeholder="グループ名">
    <input name="name"[(ngModel)]="FirstName" class='form'  placeholder="管理者の苗字">
    <input name="name"[(ngModel)]="LastName" class='form'  placeholder="管理者の名前">

    <select class="select" [(ngModel)]="Sex" name='name'>
      <option value="" selected>性別</option>
      <option value="male">男</option>
      <option value="famale">女</option>
    </select>

    <input type='password' name="name"[(ngModel)]="PassWord" class='form'  placeholder="パスワード">
    <input name="name"[(ngModel)]="MailAdress" class='form'  placeholder="管理者のメールアドレス">

    <p id='error' *ngIf='error'>{{error}}</p>

    <div id='buttoncmp'>
      <input type="submit" id='login' value=" 作成 " (click)='UserLogin()'>
      <input type="button" id='cancel' value=" キャンセル " (click)='Back_Page()'>
    </div>

  </form>
</div>
