
#container {
  height: 80%;
  margin: 2% auto;
  width: 70%;
  display: grid;
  grid-gap:30px;
  grid-template-columns: 5fr 5fr;
  grid-template-rows: 5fr 5fr;
  transition: width .5s; /* アニメーション */
}
.item {
  padding: 10px;
  overflow: hidden;
  background-color: #CAE7F2;
  box-shadow: 0 3px 1px -2px rgba(0,0,0,0.2),
              0 1px 4px 0 rgba(0,0,0,0.2);
  border-radius: 10px;
}

.item footer {
  width: 100%;
  margin: 0px 0 0 -100px;
  padding: 30px 100px 20px 100px;
  background-color: #FFF;
  text-align: left;
  font-size: 1vw;
}

.contents{
  min-height: 100%;
  margin-bottom: -60px;
}
.contents-l{
  min-height: 100%;
  margin-bottom: -100px;
}

.item p {
  font-size: 1.8vw;
  color: #999;
}

.box-2 {
  grid-column: 1 / 3;
}

.chart {
  margin-top: 1.5vh;
  margin-left: 0.5vw;
  width: 90%;
}

.RdYlGn .q0-11{fill:rgb(165,0,38)}
.RdYlGn .q1-11{fill:rgb(215,48,39)}
.RdYlGn .q2-11{fill:rgb(244,109,67)}
.RdYlGn .q3-11{fill:rgb(253,174,97)}
.RdYlGn .q4-11{fill:rgb(254,224,139)}
.RdYlGn .q5-11{fill:rgb(255,255,191)}
.RdYlGn .q6-11{fill:rgb(217,239,139)}
.RdYlGn .q7-11{fill:rgb(166,217,106)}
.RdYlGn .q8-11{fill:rgb(102,189,99)}
.RdYlGn .q9-11{fill:rgb(26,152,80)}
.RdYlGn .q10-11{fill:rgb(0,104,55)}
