
#container {
  height: 80%;
  margin: 2% auto;
  width: 70%;
  display: grid;
  grid-gap:30px;
  grid-template-columns: 5fr 5fr;
  grid-template-rows: 5fr 5fr;
  transition: width .5s; /* アニメーション */
}
.item {
  padding: 10px;
  overflow: hidden;
  background-color: #CAE7F2;
  border-radius: 10px;
}

.item:hover{
  box-shadow: 0 3px 1px -2px rgba(0,0,0,0.2),
              0 1px 4px 0 rgba(0,0,0,0.2);
}

.item footer {
  width: 100%;
  margin: 0px 0 0 -100px;
  padding: 30px 100px 20px 100px;
  background-color: #FFF;
  text-align: left;
  font-size: 1vw;
}

.contents{
  min-height: 100%;
  margin-bottom: -60px;
}
.contents-l{
  height: 80%;
}
.box-2 footer{
  height: 20%;
}


.item p {
  font-size: 1.8vw;
  color: #999;
}

.box-2 {
  grid-column: 1 / 3;
}

.chart {
  margin-top: 1.5vh;
  margin-left: 0.5vw;
  width: 90%;
}
