
<menu>
  <li><span class="fa fa-address-card-o" aria-hidden="true"></span>個人設定</li>
  <li><span class="fa fa-user-plus" aria-hidden="true"></span>新規追加</li>
  <li><span class="fa fa-users" aria-hidden="true"></span>ユーザ一覧</li>
</menu>


<div id='container'>
  <h1>ログイン</h1>
  <ul style="list-style-type:decimal">
    <li>会社名の確認</li>
    <li>メールアドレス・パスワードの確認</li>
  </ul><br>
  <input type="text" id='form'placeholder="会社名を入力してください"><br />
  <input type="submit" id='next' value="次へ" (click)='Change_Page()'>

</div>
